<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    El nombre de mi Padre es {{Padre.nombre}}
    El apellido de mi Padre es {{Padre.apellido}}
    Mi padre nacio el {{Padre.nacimiento}}
    <br>
    El nombre de mi madre es {{Madre.nombre}}
    El apellido de mi madre es {{Madre.apellido}}
    Mi madre nacio el {{Madre.nacimiento}}
    <br>
    El nombre de mi hermano es {{Hermano.nombre}}
    El apellido de mi hermano es {{Hermano.apellido}}
    Mi hermano nacio el {{Hermano.nacimiento}}
</body>
</html>